### To get much better understanding of the situation of Mental Health and suicides in India in the recent years I went on to research further on the Internet and got some really credible and strong data from data.gov.in and NCRB
https://data.gov.in/catalog/accidental-deaths-suicides-india-adsi-2020?filters%5Bfield_catalog_reference%5D=6903916&format=json&offset=0&limit=6&sort%5Bcreated%5D=desc
    
https://ncrb.gov.in/en/accidental-deaths-suicides-india-adsi

##### But, again since the data is not very friendly for analysis we had to do a lot of cleaning to go further

In [8]:
import pandas as pd

#### Starting with Data from NCRB (ADSI) of statewise distribution of suicide in India in the Year 2018, 2019, 2020

In [9]:
state18 = pd.read_csv('./2018 ncrb/2018 state.csv')
state19 = pd.read_csv('./2019 ncrb/2019 state.csv')
state20 = pd.read_csv('./2020 ncrb/2020 state.csv')

#### Our motive here is to first merge the data in a single dataframe

In [10]:
state19.head()

,Unnamed: 0,Category (Col. 1),State/UT/City (Col. 2),Number of Suicides (Col.3),Percentage Share in Total Suicides (Col. 4),FALSE,Rate of Suicides (Col. 6 = Col.3/Col.5)
0,0,State,ANDHRA PRADESH,6465,4.6,523.2,12.4
1,1,State,ARUNACHAL PRADESH,112,0.1,15.1,7.4
2,2,State,ASSAM,2370,1.7,344.2,6.9
3,3,State,BIHAR,641,0.5,1201.1,0.5
4,4,State,CHHATTISGARH,7629,5.5,288.5,26.4

#### In all other dataset except in the year 2019 we have state name in title case. So, changing it to title case.

In [11]:
state19['State/UT/City (Col. 2)'] = state19['State/UT/City (Col. 2)'].str.title()

In [12]:
state19.head(2)

,Unnamed: 0,Category (Col. 1),State/UT/City (Col. 2),Number of Suicides (Col.3),Percentage Share in Total Suicides (Col. 4),FALSE,Rate of Suicides (Col. 6 = Col.3/Col.5)
0,0,State,Andhra Pradesh,6465,4.6,523.2,12.4
1,1,State,Arunachal Pradesh,112,0.1,15.1,7.4

##### Merging the dataframes

In [13]:
df = pd.merge(state18, state19, how='left', left_on=['State/UT - (Col.3)'], right_on=['State/UT/City (Col. 2)'])

In [14]:
state20.head(2)

,Si. No. (Col.1),Category,State/UT/ (Col.2),Number of Suicides(Col.3),Percentage Share in Total Suicides (Col.4),Projected Mid-Year Population # (in Lakh)\n (in Lakh)\n(Col.5),Rate of Suicides (Col.3/Col.5)
0,1,State,Andhra Pradesh,7043,4.6,526.0,13.4
1,2,State,Arunachal Pradesh,160,0.1,15.2,10.5

In [15]:
dffinal = pd.merge(df, state20, how='left', left_on=['State/UT/City (Col. 2)'], right_on=['State/UT/ (Col.2)'])

In [ ]:
## Dropping duplicate columns

In [16]:
dffinal.drop(columns=['Unnamed: 0', 'Category (Col. 1)', 'State/UT/City (Col. 2)', 'Si. No. (Col.1)', 'Category', 'State/UT/ (Col.2)'], inplace=True)

In [18]:
dffinal.head(3)

,Sl. No. - (Col.1),Category - (Col.2),State/UT - (Col.3),Number of Suicides - (Col.4),Percentage Share in Total Suicides - (Col.5),Projected Mid-Year Population # (in Lakh) - (Col.6),Rate of Suicides - (Col.7 = Col.4/Col.6),Number of Suicides (Col.3),Percentage Share in Total Suicides (Col. 4),FALSE,Rate of Suicides (Col. 6 = Col.3/Col.5),Number of Suicides(Col.3),Percentage Share in Total Suicides (Col.4),Projected Mid-Year Population # (in Lakh)\n (in Lakh)\n(Col.5),Rate of Suicides (Col.3/Col.5)
0,1,State,Andhra Pradesh,5319,4.0,520.3,10.2,6465.0,4.6,523.2,12.4,7043.0,4.6,526.0,13.4
1,2,State,Arunachal Pradesh,132,0.1,14.9,8.9,112.0,0.1,15.1,7.4,160.0,0.1,15.2,10.5
2,3,State,Assam,2379,1.8,340.4,7.0,2370.0,1.7,344.2,6.9,3243.0,2.1,347.9,9.3

##### Saving the data

In [79]:
# dffinal.to_csv('finalmergetomanual.csv')

##### The data still has some NaN values and we need to look into it manually and fill it by hand to make the data as accurate as possible. So, after this step we went bacl to Excel sheets to find for all the null values in the merged dataframe.